<!DOCTYPE html>

<html lang="ko" translate="no">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.ico" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.7.0/github-markdown.css" rel="stylesheet">
  <link href="/index.css" rel="stylesheet">

  <title>느긋한 호흡</title>
</head>

<body>
  <div class="markdown-body">

    <div class="card">
      <div class="card-header">
        <strong>홈</strong>
      </div>

      <div class="card-content">
        <p>한 아저씨의 술과 음악, 사진, 캠핑, 여행, 그리고 소소한 개발 이야기를 기록하는 곳</p>
        <p>질문이 있으신 분들은 <a href="mailto:help@yuru.cam">여기</a>로 메일을 보내주세요</p>

        <strong>게시된 글들:</strong>

        <ul>
          <!-- INDEX -->
        </ul>
      </div>
    </div>

  </div>
</body>

</html>
